<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="strConn" value="Server=192.168.1.37;Port=5432;User Id=systaxdfe;Password=homolog17!;Database=busca_legal"/>
    <add key="timeSleep" value="2000"/>
    <add key="siglaFonteProcessamento" value="sefazPa"/>
    <add key="modProc" value="d"/>
    <!--
    f: Full
    d: docs
    u: urls
    -->
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>